.input-box {
  width: 98%;
  height: 70px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  border-radius: 35px;
  border: 2px #ecf0f6 solid;
}

.input-box img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 10px;
}

.input-box input {
  width: 100%;
  height: 80%;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  font-size: 18px;
}

.input-box input:focus {
  outline: none;
}

.input-box button {
  width: 95px;
  height: 50px;
  border-radius: 25px;
  margin-right: 10px;
  background-color: #1cb670;
  color: white;
}
